/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  @include tipo-2(14);
}

img {
  display: block;
  max-width: 100%;
}

.subtitulo {
  font-weight: bold;
  @include tipo-1(24);
  letter-spacing: 0.1em;
  color: $cor-secundaria;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $cor-secundaria;
  margin: 8px auto;
}

.subtitulo-interno {
  font-weight: bold;
  @include tipo-1(24);
  letter-spacing: 0.1em;
  color: $cor-secundaria;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitulo-interno:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $cor-secundaria;
  margin: 8px 0;
}

.btn {
  border: 3px solid $cor-primaria;
  padding: 10px 30px;
  color: $cor-primaria;
  @include tipo-1(14);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  transition: all 0.3s ease;
}

.introducao a.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  border-color: $white;
  color: $white;
}

.btn.btn-preto:hover {
  border-color: $cor-secundaria;
  color: $cor-secundaria;
}

/* Header */

.header {
  width: 100%;
  background: $cor-primaria;
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 10;
  @include d(m) {
    position: relative;
    padding-bottom: 0px;
  }
}

.header_menu {
  text-align: right;
  margin-top: 8px;
  @include d(m) {
    text-align: center;
  }
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
  @include d(m) {
    margin: 5px;
  }
}

.header_menu ul li a {
  color: $cor-secundaria;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 0;
  transition: all 0.3s ease;
  @include tipo-1(14);
  @include d(m) {
    color: $cor-secundaria;
    border: 4px solid $cor-secundaria;
    width: 136px;
    display: block;
    float: left;
  }
}

.header_menu ul li a:hover {
  color: $white;
  @include d(m) {
    border-color: $white;
  }
}

.header_menu ul li a.menu_ativo {
  color: $white;
  @include d(m) {
    border-color: $white;
  }
}

.header img {
  @include d(m) {
    margin: 0 auto 10px auto;
  }
}

/* Introducao */

.introducao {
  width: 100%;
  height: 380px;
  margin-top: 92px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 80px;
  @include d(m) {
    margin-top: 0px;
    padding-top: 40px;
    background: url("../img/bg-mobile.jpg") no-repeat center;
    background-size: cover;
  }
}

.introducao h1 {
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  @include tipo-1(48);
  @include d(m) {
    @include tipo-1(36);
  }
}

.quote-externo {
  max-width: 320px;
  margin: 0 auto;
  color: $white;
  margin-bottom: 40px;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  @include tipo-1(14);
  letter-spacing: 0.1em;
}

.quote-externo p:before,
.quote-externo p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $white;
  margin: 14px auto 10px auto;
}

/* Introducao Interna */

.introducao-interna {
  width: 100%;
  margin-top: 92px;
  height: 160px;
  text-align: center;
  color: $white;
  padding-top: 30px;
  @include d(m) {
    margin-top: 0px;
  }
}

.introducao-interna h1 {
  @include tipo-1(36);
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao-interna h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $white;
  margin: 6px auto 10px auto;
}

/* Produtos */

.produtos {
  padding: 60px 0;
}

.produtos_lista li {
  background: $cor-primaria;
  text-align: center;
}

.produtos_lista li img {
  margin: 0 auto;
}

.produtos_lista li h3 {
  font-weight: bold;
  @include tipo-1(18);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.produtos_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $cor-secundaria;
  margin: 2px auto;
}

.produtos_lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos_lista li:nth-child(1),
  .produtos_lista li:nth-child(2) {
    @include d(t) {
      padding-bottom: 20px;
    }
  }

.produtos_icone {
  background: $cor-secundaria;
  padding: 20px;
}

.call {
  padding-top: 40px;
  text-align: center;
  clear: both;
  @include d(m) {
    padding-top: 10px;
  }
}

.call p {
  margin-bottom: 20px;
}

/* Portfolio */

.portfolio {
  width: 100%;
  background: $cor-secundaria;
  padding: 40px 0;
}

.portfolio .subtitulo {
  color: $cor-primaria;
}

.portfolio .subtitulo:after {
  background: $cor-primaria;
}

.portfolio_lista li:last-child {
  margin-top: 20px;
}

.portfolio .call p {
  color: $white;
}

/* Qualidade */

.qualidade {
  padding: 60px 0;
}

.qualidade:after {
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url("../img/linhas.svg");
  position: absolute;
  top: 209px;
  right: 162px;
  z-index: -1;
  @include d(t) {
    right: 66px;
  }
  @include d(m) {
    display: none;
  }
}

.qualidade img {
  margin: 0 auto;
}

.qualidade_lista {
  padding-top: 20px;
  overflow: auto; /* clear-fix */
}

.qualidade_lista li {
  text-align: center;
  padding: 0 40px;
  @include d(t) {
    padding: 0 10px;
  }
}

.qualidade_lista li h3 {
  font-weight: bold;
  @include tipo-1(18);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 20px;
}

.qualidade_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $cor-secundaria;
  margin: 6px auto;
}

/* Quebra */

.quebra {
  width: 100%;
  height: 220px;
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.quebra .quote-externo {
  max-width: 400px;
}

/* Footer */

.footer {
  width: 100%;
  background: $cor-secundaria;
  color: $white;
  padding: 20px;
}

.footer h3 {
  @include tipo-1(18);
  color: $cor-primaria;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: $cor-primaria;
  margin: 10px 0 12px 0;
}

.footer_historia {
  padding-right: 40px;
}

.footer_contato ul li {
  @include tipo-2(14);
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer_redes ul li a {
  border: 3px solid $cor-primaria;
  display: block;
  padding: 10px;
  transition: all 0.3s ease;
  @include d(t) {
    padding: 6px;
  }
}

.footer_redes ul li a:hover {
  border-color: $white;
}

.footer_redes ul li a img {
  @include d(t) {
    width: 26px;
    height: 26px;
  }
}

.copy {
  width: 100%;
  background: $cor-primaria;
  padding: 20px 0;
}

/* JavaScript */

.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  cursor: pointer;
  background: #1d1d1d;
}

.js [data-slide-nav] button.active {
  background: $cor-primaria;
}

.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

.nao-aparece {
  visibility: hidden;
  height: 0px;
  position: absolute;
}

#form-sucesso {
  color: #31aa39;
}

#form-erro {
  color: #f64540;
}
